body {
	background-color: #333;
	color: #eee;
}
input {
	background-color: #555;
	color: #efefef;
	font-size: 20px;
}

button {
	background-color: #555;
	color: #efefef;
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	font-size: 25px;
	text-transform: uppercase;
	margin: auto;
}
button:hover {
	cursor: pointer;
}
